*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Raleway;
}
a{
    text-decoration: none;
}
#header {
    margin: 0px 5%;
}
nav ul {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
#nav-items li {
    margin-right: 20px;
    padding-top: 10px;
}
#nav-items li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    padding: 7px 7px;
    border-bottom: 2px solid #4BA87D;
}
.custom-btn {
    background-color: #4BA87D;
    border: none;
    font-size: 16px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
}
.nav-btn {
    margin-right: 20px;

}
.container{
    margin: 50px 5%;
}
#header-bottom-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#header-bottom-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#header-bottom-text h1 {
    font-size: 50px;
    font-weight: 800;
}
#header-bottom-text p {
    font-size: 23px;
    padding: 5px 0px;
    margin: 11px 0px;
}
.blank-bg-btn {
    background-color: rgba(247, 247, 247, .9);
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 20px;
    color: #4BA87D;
    border-radius: 15px;
}
.blank-bg-btn:hover { 
    background-color: #4BA87D;
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.custom-btn:hover {
    background-color: #fff;
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 19px;
    color: #4BA87D;
    border-radius: 15px;
    cursor: pointer;
}
.demo-btn {
    margin-left: 20px;
}
#header-bottom-img {
    padding: 30px;
}
.container-fluid {
    background-color: #F7F7F7;
    padding: 70px 15%;
}
#video-section {
    background: url("../images/recharge.jpg") no-repeat center;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#video-section div {
    text-align: center;
}
#video-section div h2  {
    font-size: 50px;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 12px;
}
#services-section {
    background-color: #CAEAC7;
    padding: 50px 0px;
}
#services-section h3, #customers-section h3, #input-section h2 {
    text-align: center;
    font-size: 66px;
    font-weight: 900;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 60px 18%;
    
}
.card-section  { 
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 5px 5px 14px gray;
}
.card-content {
    padding: 10px;
    margin-bottom: 20px;
}
.card-section p { 
    font-size: 18px;
    padding: 23px 0 25px 30px;
}
.learn-more  {
    font-size: 21px;
    color: #127144;
    font-weight: 900;
    padding-left: 30px;
}
#customers-section {
    margin: 60px 0px;
}
.members-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 23%;
    gap: 30px;
}
.member {
    box-shadow: 3px 3px 9px gray;
    color: #fff;
    height: 240px;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    border-radius: 15px;
}
.member1{
    background: linear-gradient(rgba(0, 0, 0,.1), rgba(0, 0, 0, .5)),
         url("../images/customers/customer1.jpg") no-repeat center;
    background-size: cover;
}
.member2{
    background: linear-gradient(rgba(0, 0, 0,.1), rgba(0, 0, 0, .5)),
    url("../images/customers/customer2.jpg") no-repeat center;
    background-size: cover;
}
.member3{
    background: linear-gradient(rgba(0, 0, 0,.1), rgba(0, 0, 0, .5)),
    url("../images/customers/customer3.jpg") no-repeat center;
    background-size: cover;
}
.member-content h4 {
    font-size: 32px;
    margin-bottom: 5px;
}
.member-content p {
    font-size: 20px;
}
#input-section {
    margin: 70px 22%;
    
}
#input-section h2, #brand-section h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
#input-section input {
    padding: 10px;
    box-shadow: none;
    border: 2px solid lightgray;
    font-size: 18px;
    margin: 50px 20px 0px 80px;
    border-radius: 10px;
    width: 50%;
}
#input-section button {
    border: 2px solid #4BA87D;
}
#input-section p {
    font-size: 22px;
    font-weight: 800;
    color: #4BA87D;
    text-align: center;
    margin-top: 10px;
}
#brand-section {
    margin: 50px 20%;
}
.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 50px 0px;
}
#last-body-section{
    padding: 60px 0px;
    background-color: #4BA87D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#last-body-section h3 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
#last-body-section button:hover {
    border: 1px solid #fff;
}
footer {
    margin: 50px 15% 0px 15%;
}
.footer-links-section {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
}
.footer-links-section ul li {
    margin: 10px;
    
}
.footer-links-section ul li a {
    color: black;
    font-size: 20px;
}
.bottom-border {
    margin: 20px 0px;
    border: 2px solid lightgray;
}
#footer-content {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgba(0, 0, 0, .9);
    font-weight: 900;
}