*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
#header {
    margin: 0px 5%;
}
nav ul {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
#nav-items li {
    margin-right: 20px;
    padding-top: 10px;
}
#nav-items li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    padding: 7px 7px;
    border-bottom: 2px solid #4BA87D;
}
.custom-btn {
    background-color: #4BA87D;
    border: none;
    font-size: 16px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
}
.nav-btn {
    margin-right: 20px;

}
.container{
    margin: 50px 5%;
}
#header-bottom-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#header-bottom-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#header-bottom-text h1 {
    font-size: 50px;
    font-weight: 800;
}
#header-bottom-text p {
    font-size: 23px;
    padding: 5px 0px;
    margin: 11px 0px;
}
.blank-bg-btn {
    background-color: rgba(247, 247, 247, .9);
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 20px;
    color: #4BA87D;
    border-radius: 15px;
}
.blank-bg-btn:hover { 
    background-color: #4BA87D;
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.custom-btn:hover {
    background-color: #fff;
    border: 1px solid #4BA87D;
    font-size: 16px;
    padding: 15px 19px;
    color: #4BA87D;
    border-radius: 15px;
    cursor: pointer;
}
.demo-btn {
    margin-left: 20px;
}
#header-bottom-img {
    padding: 30px;
}
.container-fluid {
    background-color: #F7F7F7;
    padding: 70px 15%;
}
#video-section {
    background: url("../images/recharge.jpg") no-repeat center;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#video-section div {
    text-align: center;
}
#video-section div h2  {
    font-size: 50px;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 12px;
}
#services-section {
    background-color: #CAEAC7;
    padding: 50px 0px;
}
#services-section h3 {
    text-align: center;
    font-size: 66px;
    font-weight: 900;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 60px 18%;
    
}
.card-section  { 
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 5px 5px 14px gray;
}
.card-content {
    padding: 10px;
    margin-bottom: 20px;
}
.card-section p { 
    font-size: 18px;
    padding: 23px 0 25px 30px;
}
.learn-more  {
    font-size: 21px;
    color: #127144;
    font-weight: 900;
    padding-left: 30px;
}